[Desktop Entry]
Version=1.0
Name=Add tools
Comment=Copy decrypting tools on TV
GenericName=Decrypt video
Exec=/usr/share/samdecrypt/put-tools-in-tv.sh copy
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
