[Desktop Entry]
Version=1.0
Name=Web access
Comment=TV web access
GenericName=Web accessing to TV
Exec=/usr/share/samdecrypt/web-interface-gui
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
