[Desktop Entry]
Version=1.0
Name=Terminal access
Comment=TV terminal access
GenericName=Terminal accessing to TV
Exec=/usr/share/samdecrypt/terminal-acess.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
