[Desktop Entry]
Version=1.0
Name=Decoding video
Comment=Decode recorded files
GenericName=Decode files
Exec=/usr/share/samdecrypt/decrypting-gui.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
