[Desktop Entry]
Version=1.0
Name=Decrypt video
Comment=Decrypt recorded files
GenericName=Decrypt files
Exec=/usr/share/samdecrypt/decrypt-gui.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
