[Desktop Entry]
Version=1.0
Name=Export channels
Comment=Export channels from TV and edit in channel editor
GenericName=Export channels from TV
Exec=/usr/share/samdecrypt/export-TV-configuration.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
