[Desktop Entry]
Version=1.0
Name=Backup widget
Comment=Copy widget from TV to widget folder on computer
GenericName=Copy widget
Exec=/usr/share/samdecrypt/backup-widget.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
