[Desktop Entry]
Version=1.0
Name=Remove widget
Comment=Remove widget from TV
GenericName=Remove widget
Exec=/usr/share/samdecrypt/remove-widget-from-tv.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
