[Desktop Entry]
Version=1.0
Name=Generate key files
Comment=Generate key files on recording device
GenericName=Generate key
Exec=/usr/share/samdecrypt/samdumpkeys.sh generate
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
