[Desktop Entry]
Version=1.0
Name=Import channels
Comment=Import channels to TV after editing channels list or factory reset TV
GenericName=Export channels from TV
Exec=/usr/share/samdecrypt/import-TV-configuration.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
