[Desktop Entry]
Version=1.0
Name=Widgets
Comment=Widget tools
GenericName=tools
Exec=/usr/share/samdecrypt/widget-gui.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
