[Desktop Entry]
Version=1.0
Name=Download key files
Comment=Download key files to computer from recording device
GenericName=Download key
Exec=/usr/share/samdecrypt/download-keys.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
