[Desktop Entry]
Version=1.0
Name=Tools
Comment=TV Tools
GenericName=Sam TV tools
Exec=/usr/share/samdecrypt/tools-gui.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
