[Desktop Entry]
Version=1.0
Name=Add widget
Comment=Add widget to TV
GenericName=Copy widget
Exec=/usr/share/samdecrypt/copy-widget-in-tv.sh add
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
