[Desktop Entry]
Version=1.0
Name=Decrypt recordings
Comment=Decrypt recorded video files
GenericName=Decrypt video
Exec=/usr/share/samdecrypt/decrypt.sh decrypt
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
