[Desktop Entry]
Version=1.0
Name=Widget list
Comment=List widget on TV
GenericName=List widget
Exec=/usr/share/samdecrypt/list-widget-in-tv.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
