[Desktop Entry]
Version=1.0
Name=Reboot TV
Comment=Reboot Samsung TV
GenericName=Reboot your TV
Exec=/usr/share/samdecrypt/reboot-tv
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
