[Desktop Entry]
Version=1.0
Name=Remove tools
Comment=Remove decrypting tools from TV
GenericName=Remove tools
Exec=/usr/share/samdecrypt/remove-tools-from-tv.sh del
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
