[Desktop Entry]
Version=1.0
Name=Settings
Comment=Configure Samdecrypt
GenericName=Set Samdecrypt options
Exec=/usr/share/samdecrypt/samsettings.sh
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
