[Desktop Entry]
Version=1.0
Name=Samdecrypt settings
Comment=Configure Samdecrypt
GenericName=Set Samdecrypt options
Exec=samconfigure
Icon=gtk-add
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
