[Desktop Entry]
Terminal=false
Name=Samdecrypt
Comment=Samsung TV PVR decrypt recodings and widget tools
Comment[hr]=Samsung TV alat za widgete i dešifriranje PVR snimki
Exec=samdecrypt-gui
Type=Application
Icon=samdecrypt.png
Categories=AudioVideo;Video;
