[Desktop Entry]
Version=1.0
Name=Samtoolbox
Name[hr]=Samtoolbox
Encoding=UTF-8
Comment=Edit Samsung TV Channel
Comment[hr]=Uređivajte Samsung TV popis programa
#X-GNOME-FullName=EasyShutdown - turn off your computer
#X-GNOME-FullName[hr]=EasyShutdown - isključite vaše računalo
Exec=/usr/share/samtoolbox/samtoolbox
Icon=samtoolbox.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Video;AudioVideo;Settings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
X-GNOME-Settings-Panel=samtoolbox
X-Ubuntu-Gettext-Domain=samtoolbox

