[Desktop Entry]
Version=1.0
Name=View title list
Comment=View video files title list on recording device
GenericName=View list
Exec=/usr/share/samdecrypt/list.sh list
Icon=gtk-add
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Video;
StartupWMClass=Samdecrypt
