#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build:
	$(CC) -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -c aes.c -o aes.o
	$(CC) -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE -c drmdecrypt.c -o drmdecrypt.o
	$(CC) -o drmdecrypt aes.o drmdecrypt.o

clean:
	dh_testdir
	dh_testroot
	dh_prep 

override_dh_auto_configure:
	dh_auto_configure -- ${AUTOBUILD_CONFIGURE_EXTRA} ${JOBSARGS}

install: build
	dh_testdir
	dh_testroot
	dh_prep -k 
	dh_installdirs
	
	mkdir -p $(CURDIR)/debian/samdecrypt
	mkdir -p $(CURDIR)/debian/samdecrypt/usr
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/bin
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/share
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/tools
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/share/applications
	mkdir -p $(CURDIR)/debian/samdecrypt/usr/share/pixmaps
	cp -r $(CURDIR)/aes.o $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/drmdecrypt.o $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/drmdecrypt $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/decrypt.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/samdumpkeys.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/samremovekeys.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/put-tools-in-tv.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/remove-tools-from-tv.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/list.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/copy-widget-in-tv.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/remove-widget-from-tv.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/list-widget-in-tv.sh $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/samconfigure $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/samdecrypt-gui $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/
	cp -r $(CURDIR)/tools/libPVRdumpkeys.so $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/tools
	cp -r $(CURDIR)/tools/samyGOso $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/tools
	cp -r $(CURDIR)/tools/widget $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/tools
	cp -r $(CURDIR)/Samdecrypt.desktop $(CURDIR)/debian/samdecrypt/usr/share/applications
	cp -r $(CURDIR)/decrypt.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/generate-keys.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/remove-keys.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/put-tools-in-tv.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/remove-tools-from-tv.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/title-list.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/add-widget.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/samconfigure.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/remove-widget.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/list-widget.desktop $(CURDIR)/debian/samdecrypt/usr/share/samdecrypt/desktopfiles
	cp -r $(CURDIR)/samdecrypt.png $(CURDIR)/debian/samdecrypt/usr/share/pixmaps
	cp -r $(CURDIR)/samdecrypt-24.png $(CURDIR)/debian/samdecrypt/usr/share/pixmaps
	cp -r $(CURDIR)/samdecrypt-84.png $(CURDIR)/debian/samdecrypt/usr/share/pixmaps

override_dh_shlibdeps:

#override_dh_strip:
#	debian/drmdecrypt/usr/share/drmdecrypt/tools/libPVRdumpkeys.so

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
#	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link /usr/share/samdecrypt/drmdecrypt /usr/bin/decrypt
	dh_link /usr/share/samdecrypt/decrypt.sh /usr/bin/samdecrypt
	dh_link /usr/share/samdecrypt/samdumpkeys.sh /usr/bin/samdumpkeys
	dh_link /usr/share/samdecrypt/samremovekeys.sh /usr/bin/samremovekeys
	dh_link /usr/share/samdecrypt/put-tools-in-tv.sh /usr/bin/samtvtools
	dh_link /usr/share/samdecrypt/samdecrypt-gui /usr/bin/samdecrypt-gui
	dh_link /usr/share/samdecrypt/copy-widget-in-tv.sh /usr/bin/addwidget
	dh_link /usr/share/samdecrypt/samconfigure /usr/bin/samconfigure
	dh_link /usr/share/samdecrypt/remove-widget-from-tv.sh /usr/bin/removewidget
	dh_link /usr/share/samdecrypt/list-widget-in-tv.sh /usr/bin/listwidget
#	override_dh_strip debian/drmdecrypt/usr/share/drmdecrypt/tools/libPVRdumpkeys.so
	dh_strip --exclude=libPVRdumpkeys.so
	dh_compress 
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
