#!/bin/sh
 
# Exit on error
set -e
 
# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# Ask questions for recording device
db_input high samdecrypt/user || true
# Show recording device interface
db_go
# Ask questions for TV IP
db_input high samdecrypt/tvip || true
# Show TV IP interface
db_go
# Ask questions for downloading files path
db_input high samdecrypt/path || true
# Show downloading files path
db_go
# Display a final note
db_input high samdecrypt/note || true
# Show note
db_go

