{
    // key_only == 1 -> save keyfile only, no background decryption
    "key_only" : 0,
    // ts_outdir == "" -> save ts in srf dir
    //           != "" has to be existent
    "ts_outdir": "",
    // "ts_outext": ".srf" && ts_outdir == "" -> overwrite .srf with decrypted .ts
    "ts_outext": ".ts",
    // wait until 'wait_frame_cnt' frames are available for decryption, check again after 'wait_ms' millisecs
    "wait_frame_cnt": 2000,
    "wait_ms": 50,
    // $1 = decrypted file path
    //e.g. "exec_when_done": "/path/to/scripts/ts2mkv"
    "exec_when_done": ""
}
